body{
    margin:0;
    padding:0;
    background-color: lightgoldenrodyellow;
}
h2
{
    text-align: center;;
}
.container {
    padding: 60px;
    height:300px;
    width:200px;
    margin:auto;
    display:block;
    border:2px solid black;
    justify-content:space-around;
  }
  
input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  margin-left:50px;
  margin-top:20px;
  width:100px;

}

button:hover {
  background-color:darkgreen;;
}
span.psw {
  float: right;
  padding-top: 16px;
}

